In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/crop-production-statistics-india/APY.csv

In [2]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("/kaggle/input/crop-production-statistics-india/APY.csv")
dataset

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75
...,...,...,...,...,...,...,...,...
345331,West Bengal,PURULIA,Wheat,2015,Rabi,855.0,1241.0,1.45
345332,West Bengal,PURULIA,Wheat,2016,Rabi,1366.0,2415.0,1.77
345333,West Bengal,PURULIA,Wheat,2017,Rabi,1052.0,2145.0,2.04
345334,West Bengal,PURULIA,Wheat,2018,Rabi,833.0,2114.0,2.54
345335,West Bengal,PURULIA,Wheat,2019,Rabi,516.0,931.0,1.80

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345336 entries, 0 to 345335
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   State       345336 non-null  object
 1   District    345336 non-null  object
 2   Crop        345327 non-null  object
 3   Crop_Year   345336 non-null  int64
 4   Season      345336 non-null  object
 5   Area        345336 non-null  float64
 6   Production  340388 non-null  float64
 7   Yield       345336 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 21.1+ MB

In [5]:
dataset.isnull().sum()

State            0
District         0
Crop             9
Crop_Year        0
Season           0
Area             0
Production    4948
Yield            0
dtype: int64

In [6]:
d1=dataset["Production"].mean()
d1=round(d1,2)
print(d1)
dataset["Production"]=dataset["Production"].fillna(958472)

958472.64

In [7]:
dataset["Crop"]=dataset["Crop"].fillna("Wheat")

In [8]:
dataset

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Kharif,2439.6,3415.0,1.40
1,Andaman and Nicobar Island,NICOBARS,Arecanut,2007,Rabi,1626.4,2277.0,1.40
2,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Autumn,4147.0,3060.0,0.74
3,Andaman and Nicobar Island,NICOBARS,Arecanut,2008,Summer,4147.0,2660.0,0.64
4,Andaman and Nicobar Island,NICOBARS,Arecanut,2009,Autumn,4153.0,3120.0,0.75
...,...,...,...,...,...,...,...,...
345331,West Bengal,PURULIA,Wheat,2015,Rabi,855.0,1241.0,1.45
345332,West Bengal,PURULIA,Wheat,2016,Rabi,1366.0,2415.0,1.77
345333,West Bengal,PURULIA,Wheat,2017,Rabi,1052.0,2145.0,2.04
345334,West Bengal,PURULIA,Wheat,2018,Rabi,833.0,2114.0,2.54
345335,West Bengal,PURULIA,Wheat,2019,Rabi,516.0,931.0,1.80

In [9]:
dataset.isnull().any()

State         False
District      False
Crop          False
Crop_Year     False
Season        False
Area          False
Production    False
Yield         False
dtype: bool

In [10]:
from sklearn.preprocessing import LabelEncoder
l1=LabelEncoder()

In [11]:
dataset["State"]=l1.fit_transform(dataset["State"])
# dataset["District"]=l1.fit_transform(dataset["District"])
dataset["Crop"]=l1.fit_transform(dataset["Crop"])
dataset["Season"]=l1.fit_transform(dataset["Season"])
dataset

        State District   Crop  Crop_Year  Season   Area   Production  Yield
0           0  NICOBARS     0       2007       1  2439.6      3415.0   1.40
1           0  NICOBARS     0       2007       2  1626.4      2277.0   1.40
2           0  NICOBARS     0       2008       0  4147.0      3060.0   0.74
3           0  NICOBARS     0       2008       3  4147.0      2660.0   0.64
4           0  NICOBARS     0       2009       0  4153.0      3120.0   0.75
...       ...       ...   ...        ...     ...     ...         ...    ...
345331     36   PURULIA    53       2015       2   855.0      1241.0   1.45
345332     36   PURULIA    53       2016       2  1366.0      2415.0   1.77
345333     36   PURULIA    53       2017       2  1052.0      2145.0   2.04
345334     36   PURULIA    53       2018       2   833.0      2114.0   2.54
345335     36   PURULIA    53       2019       2   516.0       931.0   1.80

[345336 rows x 8 columns]

In [12]:
del dataset[dataset.columns[1]]

In [13]:
dataset

        State  Crop  Crop_Year  Season   Area   Production  Yield
0           0     0       2007       1  2439.6      3415.0   1.40
1           0     0       2007       2  1626.4      2277.0   1.40
2           0     0       2008       0  4147.0      3060.0   0.74
3           0     0       2008       3  4147.0      2660.0   0.64
4           0     0       2009       0  4153.0      3120.0   0.75
...       ...   ...        ...     ...     ...         ...    ...
345331     36    53       2015       2   855.0      1241.0   1.45
345332     36    53       2016       2  1366.0      2415.0   1.77
345333     36    53       2017       2  1052.0      2145.0   2.04
345334     36    53       2018       2   833.0      2114.0   2.54
345335     36    53       2019       2   516.0       931.0   1.80

[345336 rows x 7 columns]

In [14]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [15]:
x

array([[0.0000e+00, 0.0000e+00, 2.0070e+03, 1.0000e+00, 2.4396e+03,
        3.4150e+03],
       [0.0000e+00, 0.0000e+00, 2.0070e+03, 2.0000e+00, 1.6264e+03,
        2.2770e+03],
       [0.0000e+00, 0.0000e+00, 2.0080e+03, 0.0000e+00, 4.1470e+03,
        3.0600e+03],
       ...,
       [3.6000e+01, 5.3000e+01, 2.0170e+03, 2.0000e+00, 1.0520e+03,
        2.1450e+03],
       [3.6000e+01, 5.3000e+01, 2.0180e+03, 2.0000e+00, 8.3300e+02,
        2.1140e+03],
       [3.6000e+01, 5.3000e+01, 2.0190e+03, 2.0000e+00, 5.1600e+02,
        9.3100e+02]])

In [16]:
y

array([1.4 , 1.4 , 0.74, ..., 2.04, 2.54, 1.8 ])

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=9)

In [18]:
from sklearn.linear_model import LinearRegression
l1=LinearRegression()
l1.fit(x_train,y_train)

LinearRegression()

In [19]:
y_pred=l1.predict(x_test)
print(y_pred)

[ -34.90824145   78.68950942  -77.01536338 ...   54.08007146 -127.98430832
   14.69465451]

In [20]:
from sklearn.metrics import r2_score
ac=r2_score(y_test,y_pred)*100
ac

22.557793434629602

In [21]:
import os 
dataset.to_csv(r'Crop_data.csv',index=False)
from IPython.display import FileLink
FileLink(r'Crop_data.csv')

/kaggle/working/Crop_data.csv